{% extends "base.html" %}

{% load static %}

{% block contenido %}
    <br>
    <h2 class="margen">Bienvenido a nuestro formulario de registro</h2>
    <h5 class="margen">Completa el formulario para comenzar!!!!</h5>
    <br>
    <div>
        <form>
            <div id="div1">
                <label for="formrut">RUT</label>
                <br>
                <input type="text" class="form-control" id="txt_rut"
                required placeholder="Ingresa un rut" 
                required minlength="">
            </div>
            <br>
            <div id="div1">
                <label for="formnom">PRIMER NOMBRE</label>
                <br>
                <input type="text" class="form-control" id="pnombre"
                required placeholder="Ingresa tu primer nombre" >
            </div>
            <br>
            
            <div id="div1">
                <label for="formnom">SEGUNDO NOMBRE</label>
                <br>
                <input type="text" class="form-control" id="snombre"
                required placeholder="Ingresa tu segundo nombre" >
            </div>
            <br>
            <div id="div1">
                <label for="formape">PRIMER APELLIDO</label>
                <br>
                <input type="text" class="form-control" id="papellido"
                required placeholder="Ingresa tu primer apellido" >
            </div>
            <br>
            <div id="div1">
                <label for="formape">SEGUNDO APELLIDO</label>
                <br>
                <input type="text" class="form-control" id="sapellido"
                required placeholder="Ingresa tu segundo apellido" >
            </div>
            <br>
            <div id="div1">
                <label for="formape">TELEFONO</label>
                <br>
                <input type="number" class="form-control" id="apellido"
                required placeholder="Ingresa una telefono" >
            </div>
            <br>
            <div class="mb-3" id="div1">
                <label for="exampleInputEmail1" class="form-label">CORREO ELECTRONICO</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                required placeholder="Ingresa un Correo" >
            </div>
            <br>
            <div class="mb-3" id="div1">
                <label for="exampleInputPassword1" class="form-label">CONTRASEÑA</label>
                <input type="password" class="form-control" id="contraseña"
                required placeholder="Ingresa una Contraseña" 
                required minlength="8">
            </div>
            <br> 
            <div class="mb-3" id="div1">
                <label for="exampleInputPassword2" class="form-label">CONFIRMAR CONTRASEÑA</label>
                <input type="password" class="form-control" id="confirmarcontraseña"
                required placeholder="Confirme su contraseña" 
                required minlength="8">
            </div>
            <button type="submit" class="btn btn-primary" id="idboton">Guardar</button>
        </form>
    </div>
{% endblock contenido %}
