{% extends "base.html" %}

{% load static %}

{% block contenido %}

    <h1 style="text-align: center;"> Reserva tu hora</h1>
    <h5 style="text-align: center;"> Selecciona tipo de hora</h5>

    <br>
    <br>

    <div class="card" style="width: 18rem;" id="divcard">
        <img src="{% static "img/tratamiento_clinico.png" %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 style="text-align: center;">Agendar consulta médica presencial</h4>
            <br>
          <p class="card-text">Elige una hora con un profesional para una consulta presencial en 
            cualquiera de nuestros centros médicos</p>
        </div>
      </div>

      <br>
      <br>

      <h2 style="text-align: center;">¿Ya tienes tu hora agendada?</h2>
      <h5 style="text-align: center;">Ahora puedes registrar o anular tus citas agendadas</h5>

      <br>
      <br>

      <div class="card" style="width: 11rem; text-align: center;" id="divcard2">
        <img src="{% static "img/login.img" %}" class="card-img-top" alt="10%">
        <div class="card-body">
              <a href="agendar_hora.html" class="btn btn-primary">reserva tu hora</a>
        </div>
    </div>

    <div class="card" style="width: 11rem; text-align: center;" id="divcard3">
        <img src="{% static "img/login.img" %}" class="card-img-top" alt="10%">
        <div class="card-body">
              <a href="reserva.html" class="btn btn-primary">anular tu hora</a>
        </div>
    </div>

    {% endblock contenido %}

    <h1>Datos del Paciente</h1>
    <div id="paciente-info"></div>

    <script>
        // Función para consumir la API
        function getPacientesData() {
            fetch('https://api-tareas-03.lucpoblete.repl.co/api/pacientes')
                .then(response => response.json())
                .then(data => {
                    // Maneja la respuesta de la API aquí
                    const pacienteInfo = document.getElementById('paciente-info');
    
                    if (Array.isArray(data) && data.length > 0) {
                        pacienteInfo.innerHTML = '<h3>Información de Pacientes:</h3>';
                        data.forEach(paciente => {
                            pacienteInfo.innerHTML += `
                                <p>Apellidos: ${paciente.P_apellido}</p>
                                <p>Apellidos: ${paciente.S_apellido}</p>
                                <p>Contraseña: ${paciente.Contraseña}</p>
                                <p>Email: ${paciente.Email}</p>
                                <p>Primer nombre: ${paciente['Pnombre']}</p>
                                <p>Segundo nombre: ${paciente['Snombre']}</p>
                                <p>Teléfono: ${paciente.Telefono}</p>
                                <p>RUT: ${paciente.rut}</p>
                                <hr>
                            `;
                        });
                    } else {
                        pacienteInfo.innerHTML = 'No se encontraron pacientes.';
                    }
                })
                .catch(error => {
                    console.error('Error al consumir la API:', error);
                });
        }
    
        // Llama a la función para obtener los datos de los pacientes
        datas = getPacientesData();
        console.log(datas)
    </script>
    
    </script>
