body{
    background-color: aliceblue;
}


/* Aqui van las imagenes de seguros */
#div1{
    background-color: aliceblue;
    width: 40%;
    height: 20%;
    margin-left: 30%;
}
/* Aqui van las imagenes de seguros */

.margen{
    text-align: center;
}

#idboton{
    background-color: chartreuse;
    color: black;
    width: 10%;
    height: 10%;
    margin-left: 45%;
}